span.spinner-grow {
    display: none;
}

span.spinner-grow.show {
    display: inline-block;
}

form ul#requirements {
    display: none;
}

form ul#requirements.show {
    display: block;
}

form .form-feedback {
    color: var(--bs-danger);
}

form #requirements li {
    font-size: 0.875rem;
    text-decoration: none;
    color: var(--bs-danger);
}

form #requirements li.list-group-item-success {
    text-decoration: line-through;
    color: var(--bs-green);
}

table.table a {
    text-decoration: none;
}

table.table tbody tr td:last-child,
table.table thead tr th:last-child {
    text-align: end;
}